_blender
_render
_output
lsf
.env
__pycache__
Blender-*.blend
*.code-workspace
stdout_*.txt
action-config-list_*.json
action-job-config_*.json
cml-vars_*.json
*.blend1
*.pyc
*.exr
*.png
*.jpg
*.tar
*.gz
*.bin
core.*
